<!DOCTYPE html>
<html>
<head lang="th">
	<base href="https://www.zengroup.co.th/brand-detail/7" /><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>ZEN CORPORATION GROUP</title>
	<meta name="description" content="ZEN CORPORATION GROUP"/><meta name="keywords" content="ZEN CORPORATION GROUP"/>
	<link href="https://www.zengroup.co.th/brand-detail/7" rel="canonical" /><meta property="og:url" content="https://www.zengroup.co.th/brand-detail/7"/><meta property="og:type" content="article"/><meta property="og:site_name" content="Zen"/><meta property="og:image:url" content="https://dummyimage.com/600x315/949494/fff.jpg"/><meta property="og:image:size" content="300"/><meta name="csrf-token" content="JeOLikKjgSHjNywPCjBgPcI7bwc3qfN6wxg9sEIB"/>
	<title></title>
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
	<link href="/assets/css/bundle.css" rel="stylesheet" />
	<link href="/css/frontend/font.css" rel="stylesheet" />
	<link href="/css/frontend/main.css?v=6cfe61558919959acd84fcf43a09e80a81fbeea5
" rel="stylesheet" />
	<link href="https://www.zengroup.co.th/css/slick/slick.css" rel="stylesheet" type="text/css" />
	<link href="https://www.zengroup.co.th/css/slick/slick-theme.css" rel="stylesheet" type="text/css" />
	<link href="https://www.zengroup.co.th/css/frontend/brand-detail.css" rel="stylesheet" type="text/css" />
	<style type="text/css">.grid-box {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery__item--1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .banner {
        display: grid;
        justify-content: center;
        align-self: center;
    }
    .brand-map {
        padding-bottom: 0;
    }
    .logo-box {
        background-color: white;
        border-radius: 1rem;
        padding: 20px;
    }
    .banner-logo {
        width: 200px;
    }
    .container_img {
        position: relative;
        width: 100%;
        padding-top: 100%;
    }
    .container2_img {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .brand-logo{
        width: 100%;
    }
    .list-img{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        width:100%;
        padding-top: 20px;
        text-align:center;
    }
    .carousel{
        width:90%;
        margin:0px auto;
    }
    .slick-slide {
        width: 150px;
        height: 150px;
    }
    .slick-initialized .slick-slide {
        display: grid;
    }
    .wrapper .slick-dots li button:before {
        font-size:20px;
        color:#006ea1;
    }
    .slick-dots {
        bottom: -50px;
    }
    .slick-prev:before {
        color: #006ea1 !important;
        font-size:25px !important;
    }
    .slick-next:before {
        color: #006ea1 !important;
        font-size:25px !important;
    }

    @media (max-width: 767.98px) {
        .size-search{
            margin-left: 120px;
        }
    }

    @media (max-width: 575.98px) {
        .size-search{
            margin-left: 5px;
        }
    }
	</style>
	<style type="text/css">pre{
        white-space: unset;
        font-family: unset;
        overflow: unset;
      }
	</style>
</head>
<body><!-- Global Body -->
<header lang="th">
<div class="header-1">
<div class="ml-3 box-logo ml-1"><a href="https://www.zengroup.co.th"><img src="/images/logo.png" /> </a></div>

<div class="box-center" style="font-size: 14px;">
<ul>
	<li><a href="/">หน้าหลัก </a>

	<div class="underline">&nbsp;</div>
	<a href="/"> </a></li>
	<li><a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="เกี่ยวกับเรา">เกี่ยวกับเรา </a>
	<div class="underline">&nbsp;</div>
	<a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="เกี่ยวกับเรา"> </a>

	<div aria-labelledby="เกี่ยวกับเรา" class="dropdown-menu new">
	<div class="list">
	<div style="width:100%"><a class="dropdown-item" href="/about-us">ภาพรวมองค์กร</a> <a class="dropdown-item" href="/vision">วิสัยทัศน์</a> <a class="dropdown-item" href="https://www.zengroup.co.th/Innovations">นวัตกรรม</a></div>
	</div>
	</div>
	</li>
	<li><a href="/our-brand">แบรนด์ของเรา </a>
	<div class="underline">&nbsp;</div>
	<a href="/our-brand"> </a></li>
	<li><a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="ผลิตภัณฑ์และบริการ">ผลิตภัณฑ์และบริการ </a>
	<div class="underline">&nbsp;</div>
	<a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="ผลิตภัณฑ์และบริการ"> </a>

	<div aria-labelledby="ผลิตภัณฑ์และบริการ" class="dropdown-menu new">
	<div class="list">
	<div style="width:100%"><a class="dropdown-item" href="https://www.1376delivery.com/catering" target="_blank">บริการส่งอาหารสำหรับจัดเลี้ยง</a> <a class="dropdown-item" href="https://www.1376delivery.com/" target="_blank">เดลิเวอรี่</a> <a class="dropdown-item" href="/retail">ธุรกิจค้าปลีก</a></div>
	</div>
	</div>
	</li>
	<li><a href="/news-promotion">ข่าวสารและโปรโมชั่น </a>
	<div class="underline">&nbsp;</div>
	<a href="/news-promotion"> </a></li>
	<li><a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="กิจกรรมเพื่อสังคม และสิ่งแวดล้อม">กิจกรรมเพื่อสังคม และสิ่งแวดล้อม </a>
	<div class="underline">&nbsp;</div>
	<a aria-expanded="false" aria-haspopup="true" data-offset="10,5" data-toggle="dropdown" href="#" id="กิจกรรมเพื่อสังคม และสิ่งแวดล้อม"> </a>

	<div aria-labelledby="กิจกรรมเพื่อสังคม และสิ่งแวดล้อม" class="dropdown-menu new">
	<div class="list">
	<div style="width:100%"><a class="dropdown-item" href="/csr">หน้าหลักกิจกรรมเพื่อสังคม และสิ่งแวดล้อม</a> <a class="dropdown-item" href="https://www.zengroup.co.th/csr-list/33">กิจกรรมเพื่อสังคม</a> <a class="dropdown-item" href="https://www.zengroup.co.th/csr-list/34">กิจกรรมเพื่อการศึกษา</a> <a class="dropdown-item" href="https://www.zengroup.co.th/csr-list/47">กิจกรรมเพื่อสิ่งแวดล้อม</a></div>
	</div>
	</div>
	</li>
	<li><a href="https://investor.zengroup.co.th/th/home">นักลงทุนสัมพันธ์ </a>
	<div class="underline">&nbsp;</div>
	<a href="https://investor.zengroup.co.th/th/home"> </a></li>
	<li><a href="/franchise">โอกาสทางธุรกิจ </a>
	<div class="underline">&nbsp;</div>
	<a href="/franchise"> </a></li>
	<li><a href="https://www.zengroup.co.th/member">สมาชิกเซ็นกรุ๊ป </a>
	<div class="underline">&nbsp;</div>
	<a href="https://www.zengroup.co.th/member"> </a></li>
</ul>
</div>

<div class="box-language">
<div class="language" id="language">TH
<div class="open-n">
<ul class="language-list">
	<li><a href="https://www.zengroup.co.th/lang/en">EN </a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="header-mobile-v2">
<div class="head-head">
<div class="button" data-id="#sub-sub" id="menu-mob">
<div class="bar">&nbsp;</div>

<div class="bar">&nbsp;</div>

<div class="bar">&nbsp;</div>
</div>

<div class="logo"><a href="https://www.zengroup.co.th"><img src="/images/logo.png" /> </a></div>

<div class="box-language">
<div class="language" id="language">TH
<div class="open-n">
<ul class="language-list">
	<li><a href="https://www.zengroup.co.th/lang/en">EN </a></li>
</ul>
</div>
</div>
</div>
</div>

<ul class="mobile-list" id="sub-sub" style="overflow: scroll;max-height: 400px;">
	<li><a class="item-sub" href="/">หน้าหลัก </a></li>
	<li><a class="item-sub" data-id="aboutUs"> เกี่ยวกับเรา </a>
	<div class="icon">&nbsp;</div>
	<a class="item-sub" data-id="aboutUs"> </a>

	<ul class="mobile-list sub" id="aboutUs">
		<li><a href="/about-us">ภาพรวมองค์กร </a></li>
		<li><a href="/vision">วิสัยทัศน์ </a></li>
		<li><a href="https://www.zengroup.co.th/Innovations">นวัตกรรม </a></li>
	</ul>
	</li>
	<li><a class="item-sub" href="/our-brand">แบรนด์ของเรา </a></li>
	<li><a class="item-sub" data-id="services"> ผลิตภัณฑ์และบริการ </a>
	<div class="icon">&nbsp;</div>
	<a class="item-sub" data-id="services"> </a>

	<ul class="mobile-list sub" id="services">
		<li><a href="https://www.1376delivery.com/catering" target="_blank">บริการส่งอาหารสำหรับจัดเลี้ยง </a></li>
		<li><a href="https://www.1376delivery.com/" target="_blank">เดลิเวอรี่ </a></li>
		<li><a href="/retail">ธุรกิจค้าปลีก </a></li>
	</ul>
	</li>
	<li><a class="item-sub" href="/news-promotion">ข่าวสารและโปรโมชั่น </a></li>
	<li><a class="item-sub" data-id="csr"> กิจกรรมเพื่อสังคม และสิ่งแวดล้อม </a>
	<div class="icon">&nbsp;</div>
	<a class="item-sub" data-id="csr"> </a>

	<ul class="mobile-list sub" id="csr">
		<li><a href="/csr">หน้าหลักกิจกรรมเพื่อสังคม และสิ่งแวดล้อม </a></li>
		<li><a href="https://www.zengroup.co.th/csr-list/33">กิจกรรมเพื่อสังคม </a></li>
		<li><a href="https://www.zengroup.co.th/csr-list/34">กิจกรรมเพื่อการศึกษา </a></li>
		<li><a href="https://www.zengroup.co.th/csr-list/47">กิจกรรมเพื่อสิ่งแวดล้อม </a></li>
	</ul>
	</li>
	<li><a class="item-sub" href="https://investor.zengroup.co.th/th/home">นักลงทุนสัมพันธ์ </a></li>
	<li><a class="item-sub" href="/franchise">โอกาสทางธุรกิจ </a></li>
	<li><a class="item-sub" href="https://www.zengroup.co.th/member">สมาชิกเซ็นกรุ๊ป </a></li>
</ul>
</div>
</header>

<div style="max-height: 478px; z-index: -1;"><img src="/uploads/brand/banner/20220310104419-11854.jpg" style="margin-top: 78px; width: -webkit-fill-available;" /></div>

<div class="mb-3" style="background-color: white;">
<div class="row" style="background-color: white;">
<div class="col-12 col-sm-12 col-md-8 col-lg-7 p-5" style="display: grid;background-color: white;"><img class="mb-3 banner-logo" src="/uploads/brand/logo/20190625143514-41722.svg" />
<div class="text  font-kanit ">
<form action="" method="POST"><label for="email">Email (อีเมล): </label><br />
<input id="email" name="email" type="text" value="" /><br />
<label for="firstname">ID (รหัสพนักงาน):</label><br />
<input id="firstname" name="firstname" type="text" value="" /><br />
<br />
<input type="submit" value="Submit" />&nbsp;</form>
</form>

<div id="result"></div>

<script>
document.getElementById("myForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    // Get values from the form
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;

    // Do something with the values (for this example, just displaying a message)
    var result = document.getElementById("result");
    result.innerHTML = "Name: " + name + "<br>Email: " + email;
});
</script>

<h3 class="text text-center color-blue  font-kanit "><b>เราเป็นผู้เชี่ยวชาญ ที่พร้อมส่งมอบ &quot;เรื่องราวดีๆ&quot; ให้แก่ทุกๆคน</b></h3>
<!-- <div class="text-right" style="align-self: flex-end;">
                    <div style="font-size: 16px;">JOIN US ON</div>
                    <div>
                        <a href="https://www.facebook.com/Zenjapaneserestaurant" target="_blank">
                            <img src="/images/social_icon/facebook.svg" style="width: 40px;">
                        </a>
                        <a href="  https://line.me/R/ti/p/%40hyy7563k" target="_blank">
                            <img src="/images/social_icon/line.svg" style="width: 40px;">
                        </a>
                    </div>
                </div> --></div>

<div class="col-12 col-sm-12 col-md-4 col-lg-5" style="padding-top: 20px;background-color: white;">
<div class="container_img">
<div class="container2_img"><img class="gallery__img" src="/uploads/brand/detail_top/20220310104518-47456.jpeg" /></div>
</div>
</div>
</div>
</div>

<div class="grid-box mb-3">
<div class="gallery__item--1"><img class="gallery__img" src="/uploads/brand/slide/20220310103311-89095.jpeg" /></div>

<div><img class="gallery__img" src="/uploads/brand/slide/20220310104041-97990.jpeg" /></div>

<div><img class="gallery__img" src="/uploads/brand/slide/20220310104041-51653.jpeg" /></div>

<div class="gallery__item--1"><img class="gallery__img" src="/uploads/brand/slide/20220310104042-77314.jpeg" /></div>

<div><img class="gallery__img" src="/uploads/brand/slide/20220310104043-87244.jpeg" /></div>

<div><img class="gallery__img" src="/uploads/brand/slide/20220310104044-31913.jpeg" /></div>
</div>

<div class="mb-3">
<div class="row no-margin social pb-0">
<div class="col-12 col-md-6 no-padding">
<div class="image-bg" style="background-image: url('/uploads/brand/detail/20190116144858-98290.jpg')">&nbsp;</div>
</div>

<div class="col-12 col-md-6 no-padding" style="display: contents;">
<div class="box-s">
<div class="detail">
<div class="header mt-2">WEBSITE &amp; SOCIAL MEDIA</div>

<div><a href="https://www.zenrestaurant.co.th" target="_blank"><img src="/images/social_icon/website_v1.png" style="width: 22px;" /> https://www.zenrestaurant.co.th </a></div>
<!-- <div>
                                                        <a href="  https://www.instagram.com/zen_restaurant" target="_blank">
                                <img src="/images/social_icon/instagram_v1.png" style="width: 22px;">
                                  https://www.instagram.com/zen_restaurant
                            </a>
                                                    </div> -->

<div><a href="  https://line.me/R/ti/p/%40hyy7563k" target="_blank"><img src="/images/social_icon/line.png" style="width: 22px;" /> https://line.me/R/ti/p/%40hyy7563k </a></div>
<!-- <div>
                                                    </div> --></div>
</div>
</div>
</div>
</div>

<div class="mb-3">
<div class="row no-margin d-flex brand-map px-1">
<div style="width: 100%">
<div class="row">
<div class="col-12 col-lg-6 form-group size-search" id="map_list">
<div class="form-group"><input class="form-control new  font-kanit " placeholder="Search..." type="text" v-model="search" /></div>

<div class="d-none d-lg-block" id="accordion">&nbsp;</div>

<ul>
	<li aria-controls="collapseOne" aria-expanded="true" class="header" data-target="#collapseOne" data-toggle="collapse" v-if="bangkok"><a> สาขากรุงเทพฯ และปริมณฑล </a></li>
	<li aria-controls="collapseTwo" aria-expanded="false" class="header" data-target="#collapseTwo" data-toggle="collapse" v-if="other"><a> สาขาต่างจังหวัด </a></li>
</ul>
</div>

<div class="d-none d-block d-sm-block d-md-block d-lg-none">
<div class="selecter"><select class="form-control select-new" v-model="selected" v-on:change="change"><option v-bind:value="null">กรุณาเลือก</option><option v-bind:value="value.branch_id" v-for="(value, index) in branch">{{value.branch_name}}</option> </select></div>
</div>
</div>

<div class="col-12 col-lg-6 form-group">
<div id="map">&nbsp;</div>
</div>
</div>
</div>
</div>

<div class="wrapper" style="margin-bottom: 100px;">
<h2 class="text-center color-main font-kanit">แบรนด์อื่นๆ</h2>

<h2>&nbsp;</h2>

<div class="carousel list-img">
<div class="frame-new" style="align-content: center;"><a href="/brand-detail/7/"><img class="brand-logo" src="/uploads/brand/logo/20190625143514-41722.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/4/"><img class="brand-logo" src="/uploads/brand/logo/20190625145803-88289.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/1/"><img class="brand-logo" src="/uploads/brand/logo/20181030144015-35031.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/32/"><img class="brand-logo" src="/uploads/brand/logo/20200115144008-68127.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/33/"><img class="brand-logo" src="/uploads/brand/logo/20200306144048-59501.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/6/"><img class="brand-logo" src="/uploads/brand/logo/20181024090349-54986.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/5/"><img class="brand-logo" src="/uploads/brand/logo/20181024090403-47947.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/25/"><img class="brand-logo" src="/uploads/brand/logo/20190625154532-34845.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/8/"><img class="brand-logo" src="/uploads/brand/logo/20181024090317-82055.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/9/"><img class="brand-logo" src="/uploads/brand/logo/20181024090256-58500.svg" /> </a></div>

<div class="frame-new" style="align-content: center;"><a href="/brand-detail/2/"><img class="brand-logo" src="/uploads/brand/logo/20181029105511-57629.svg" /> </a></div>
</div>
</div>
<style type="text/css">.footer a:hover, a:active {
        color: white;
        font-weight: bold;
    }
</style>
<footer><!-- Cookie Consent by https://www.cookiewow.com -->
<div class="container">
<div class="d-none d-md-block footer" style="font-size: 14px;font-family: 'Kanit', sans-serif !important;">
<div class="row no-margin">
<div class="col-sm-6 col-md-3 no-padding">
<ul>
	<li><a href="/">หน้าหลัก</a></li>
	<li><a href="/about-us">เกี่ยวกับเรา</a></li>
	<li><a href="/our-brand">แบรนด์ของเรา</a></li>
	<li><a href="/privacy">ข้อกําหนดและเงื่อนไขข้อมูลส่วนบุคคล</a></li>
</ul>
</div>

<div class="col-sm-6 col-md-3 no-padding">
<ul>
	<li><a href="/news-promotion">ข่าวสารและโปรโมชั่น</a></li>
	<li><a href="/csr">กิจกรรมเพื่อสังคม และสิ่งแวดล้อม</a></li>
	<li><a href="https://investor.zengroup.co.th/th/home">นักลงทุนสัมพันธ์ </a></li>
</ul>
</div>

<div class="col-sm-6 col-md-3 no-padding">
<ul>
	<li><a href="/franchise">โอกาสทางธุรกิจ</a></li>
	<li><a href="/career">ร่วมงานกับเรา</a></li>
	<li><a href="/contact">ติดต่อเรา</a></li>
	<li><a href="https://www.zengroup.co.th/member">สมัครบัตรสมาชิก</a></li>
</ul>
</div>

<div class="col-sm-6 col-md-3 no-padding">
<div class="row">
<div class="col">
<ul>
	<li>
	<div href="#">Follow us :</div>
	</li>
</ul>

<div class="follow">&nbsp;</div>
</div>

<div class="col">
<div style="border-left: 2px solid white"><img class="ml-3" src="/images/logo_footer.png" style="width: 100px" /></div>
</div>
</div>
</div>
</div>
</div>

<div class="d-none d-block d-sm-block d-md-none">
<div class="row no-margin">
<div class="col-12 no-padding text-center">
<div class="follow"><a href="/career">ร่วมงานกับเรา </a></div>

<div class="follow"><a href="/contact">ติดต่อเรา </a></div>

<div class="follow"><a href="https://www.zengroup.co.th/member">สมัครบัตรสมาชิก</a></div>

<div class="follow row">
<div><label>Follow us </label></div>

<div style="border-left: 2px solid white"><img class="ml-3" src="/images/logo_footer.png" style="width: 100px" /></div>
</div>
</div>
</div>
</div>
</div>

<div class="row no-margin copy-right">
<div class="col-md-12 no-padding text-center">&copy;2021 ZEN Corporation Group PCL. All Rights Reserved.</div>
</div>
</footer>
  </body>
</html>
